* {
    box-sizing: border-box;
}

.bigContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* stretch body to whole viewport height */
    height: 100vh;
    flex-wrap: wrap;
    row-gap: 50px;
}

button {
    font-size: 3rem;
    background-color: white;
    color: rgb(23, 130, 211);
    border: 4px solid green;
    border-radius: 0.7rem;
    margin: 0.5rem;
    padding: 0.5rem;
}

button:hover, .again:hover{
    transform: scale(1.1);
    box-shadow: 5px 8px 8px rgb(177, 177, 177);
}

.buttonHoverDisabled{
    /* disabled hover effect */
    pointer-events: none;
}

.scores{
    font-size: 30px;
    font-weight: bold;
}

.result{
    font-size: 36px;
    font-weight: bolder;
}

.winner{
    font-size: 40px;
    color: gold;
    text-shadow: 5px 8px 8px rgb(177, 177, 177);
}

.loser{
    font-size: 40px;
    color: red;
    text-shadow: 5px 8px 8px rgb(177, 177, 177);
}

.again{
    background-color: antiquewhite;
    border: 4px double green;
    color: green;
    border-radius: 0.7rem;
    margin: 0.5rem;
    padding: 0.5rem;
    display: none;
}

.again:hover{
    transform: scale(1.1);
    box-shadow: 5px 8px 8px rgb(177, 177, 177);
}